<%inherit file="base.html"/>
<%namespace name="macros" file="macros.html"/>

<%block name="title">Document ${ s.model.slug }</%block>

<%def name="overview()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        ${ s.model.title }
      </h3>
      ${ s.model.slug } | document #${ s.model.id }
      <div>
        % for term in s.model.modality(name='authors').terms[:]:
          <a href="${ url_for(term.term) }">
            ${ term.term.text }
          </a>
        ${ ',' if not loop.last else '' }
        % endfor
      </div>
      <div>
        <a href="">
          ${ s.model.source }
        </a>
      </div>
    </div>

    <div class="panel-body">
      <div class="bs-callout bs-callout-${ macros.colcl('topics') }">
        <h4>Topics:</h4>

        <%def name="show_topic(topic)">
          % if topic is not None:
            <li class="list-group-item"
                style="border-width: 2px; border-color: ${ ('rgba(92, 184, 92, %s)' % (topic.level / 3)) if topic.type == 'foreground' else 'rgba(0, 0, 0, 0.2)' }">
              <h4 class="list-group-item-heading">
                <a href="${ url_for(topic) }">
                  Topic ${ topic.text }
                </a>

                % if topic.documents:
                  ${ macros.assess_yesno(
                  ADocumentTopic(src=topic.documents[0], child_type='topic'),
                  "Does the topic suit this document?",
                  "Yes, it's a good fit",
                  "No, it doesn't belong here",
                  "pull-right") }
                % endif
              </h4>

              <p class="list-group-item-text">

              <div class="nofloat">
                <% probability = topic.documents[0].probability if topic.documents else 0 %>
                <div class="progress small" title="P(t | d) = ${ '%.3f' % probability }">
                  <div class="progress-bar progress-bar-default" style="width: ${ probability * 100 }%"></div>
                </div>
              </div>

              <%macros:tagcloud items="${topic.terms}" limit="${-1}" additional_class='' args="w">
                <a href="${ url_for(w.term) }" title="P(w | t) = ${ '%.3f' % w.probability }"
                   data-size="${ w.probability }" data-use-size="true">${ w.term.text }</a>
              </%macros:tagcloud>
              </p>

              <ul class="list-group" style="margin-bottom: 0">
                % for t in topic.children:
                  ${ show_topic(t.child) }
                % endfor
              </ul>
            </li>
          % endif
        </%def>

        <ul class="list-group">
          % for t in s.root_topic.children:
            ${show_topic(t.child)}
          % endfor
        </ul>

        ##                 <div id="plot-topics-flow" style="height:400px;"></div>
      </div>

      <div class="bs-callout bs-callout-${ macros.colcl('words') }">
        <h4>Words:</h4>

        <div id="plot-words" style="height:250px;"></div>

        <%macros:tagcloud items="${s.model.modality(name='words').terms}" additional_class="collapsed text-center" args="w">
          <a href="${ url_for(w.term) }" title="N_wd = ${ w.count }" data-size="${ w.count }"
             data-use-size="true">${ w.term.text }</a>
        </%macros:tagcloud>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function () {
      createPieChart(
          $('#plot-words'),
          'Words distribution',
          ['w', 'N_wd'],
          [
            % for w in s.model.modality(name='words').terms:
              {
                name: '${ w.term.text }',
                y: ${ w.count },
                url: '${ url_for(w.term) }'
              },
            % endfor
          ]
      );
    });
  </script>
</%def>

<%def name="similar()">
  <div class="bs-callout bs-callout-${ macros.colcl('topics') } list-group">
    <h3>Similar topics structure</h3>
    <small class="text-muted">Using cosine distance between p(t|d) vectors.</small>

    % for d in s.model.similar:
      <div class="list-group-item">
        <span class="pull-right similarity-chart" data-value="${ d.similarity }"></span>
        <h4 class="list-group-item-heading">
          <a href="${ url_for(d.b) }">
            ${ d.b.title }
          </a>
        </h4>

        <div class="list-group-item-text">
          ${ macros.assess_yesno(
          ADocumentSimilarity(src=d),
          "Is the document really similar?",
          "Yes, it's close in topic",
          "No, it's very different",
          "pull-right") }
          % for term in d.b.modality(name='authors').terms[:]:
            <a href="${ url_for(term.term) }">
              ${ term.term.text }
            </a>
          ${ ',' if not loop.last else '' }
          % endfor
          |
          <a href="">
            ${ d.b.source }
          </a>
        </div>
      </div>
    % endfor
  </div>
</%def>

<%def name="content()">
  <div class="container">
    <div class="well sticky-header">
      <h4 style="padding: 10px;">
          Topics:
          <div class="dropdown pull-right">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Highlight
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" style="margin-left: 20px;">
                  <li><a href="#" onclick="process_data_color('active'); return false;">Active</a></li>
                  <li><a href="#" onclick="process_data_color('passive'); return false;">Passive</a></li>
                  <li><a href="#" onclick="process_data_color('disabled'); return false;">Disabled</a></li>
              </ul>
          </div>
      </h4>

      <ul class="nav nav-pills">
          % for t in s.model.topics:
              <li data-color="${ t.topic.id }">
                  <a style="border: 1px solid grey" href="${ url_for(t.topic) }" title="P(t | d) = ${ t.probability }">
                      ${ t.topic.text } <!-- <span class="badge">{{ p }}</span> -->
                  </a>
              </li>
          % endfor
      </ul>
    </div>

    ${ s.html | n }
##     <object data="${ url_for(filename='documents_files/%s.pdf' % s.model.file_name) }" type="application/pdf"
##             style="width: 100%; height: 800px;">
##       <a href="${ url_for(filename='documents_files/%s.pdf' % s.model.file_name) }">Download PDF</a>
##     </object>
  </div>
</%def>


<div class="container">
  <div>
    <h3>${ s.model.title }</h3>

    <div class="bs-component">
      <ul class="nav nav-pills">
        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
        <li><a href="#similar" data-toggle="tab">Similar</a></li>
        <li><a href="#content" data-toggle="tab">Content</a></li>
      </ul>
      <div class="tab-content" style="padding: 10px;">
        <div class="tab-pane fade active in" id="overview">
          ${ self.overview() }
        </div>
        <div class="tab-pane fade" id="similar">
          ${ self.similar() }
        </div>
        <div class="tab-pane fade" id="content">
          ${ self.content() }
        </div>
      </div>
    </div>
  </div>
</div>
