<%def name="tagcloud(items, limit=None, emptystr=None, additional_class='')">
  <ul class="tagcloud ${ additional_class }">
    % for it in (items[:limit] if limit is not None and limit != -1 else items):
      <li>${ caller.body(it) }</li>
    % endfor

    % if not items:
      <li>${ emptystr or '' }</li>
    % endif

    % if limit == -1:
      <li>&hellip;</li>
    % elif limit is not None and len(items) > limit:
      <li>&hellip;&nbsp;${ len(items) - limit }&nbsp;more&nbsp;&hellip;</li>
    % endif
  </ul>
</%def>

<%def name="listgroup(items, limit=None, emptystr=None, additional_class='')">
  <ul class="list-group">
    % for it in (items[:limit] if limit is not None and limit != -1 else items):
      <li class="list-group-item" style="word-wrap: break-word;">
        ${ caller.body(it) }
      </li>
    % endfor

    % if not items:
      <li class="list-group-item">${ emptystr or '' }</li>
    % endif

    % if limit == -1:
      <li class="list-group-item">&hellip;</li>
    % elif limit is not None and len(items) > limit:
      <li class="list-group-item">&hellip;&nbsp;${ len(items) - limit }&nbsp;more&nbsp;&hellip;</li>
    % endif
  </ul>
</%def>

<%def name="assess_yesno(model, question, yes_text, no_text, additional_classes='')">
  <small class="text-muted assess-yesno ${ additional_classes }" data-url="${ url_for(model) }">
    <span>${ question }</span>
    <button type="button" class="btn btn-link btn-xs" title="${ yes_text }">
      <span class="glyphicon glyphicon-ok"></span>
    </button>
    <button type="button" class="btn btn-link btn-xs" title="${ no_text }">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </small>
</%def>

<%def name="assess_topic(model, question, additional_classes='')">
  <small class="text-muted assess-topic ${ additional_classes }" data-url="${ url_for(model) }">
    <span>${ question }</span>
    % for i in range(5):
      <button type="button" class="btn btn-link btn-xs" title="${ i + 1}">
        <span class="glyphicon">${ i + 1 }</span>
      </button>
    % endfor
  </small>
</%def>

<%def name="colcl(key)">\
${ {
'topics': 'info',
'docs': 'success',
'words': 'warning',
'other': 'danger'
}.get(key, 'default') }\
</%def>
