<%def name="view_tagcloud_document()">
  % if isinstance(s.model, DocumentTopic):
    <a href="${ url_for(s.model.document) }" data-size="${ s.model.prob_td }" data-use-opacity="true"
       data-placement="top" data-toggle="tooltip" data-html="true"
       title="
      ${ s.model.document.title }<br/><br/>
      ${ ', '.join(ta.term.text for ta in s.model.document.terms_authors) }<hr/>
      ${ 'P(t | d) = %f' % s.model.prob_td }
      ">${ s.model.document.slug }</a>
  % elif isinstance(s.model, DocumentTerm):
    <a href="${ url_for(s.model.document) }" data-size="${ s.model.count }" data-use-opacity="true"
       data-placement="top" data-toggle="tooltip" data-html="true"
       title="
      ${ s.model.document.title }<br/><br/>
      ${ ', '.join(ta.term.text for ta in s.model.document.terms_authors) }<hr/>
      ${ 'N_wd = %d' % s.model.count }
      ">${ s.model.document.slug }</a>
  % endif
</%def>

<%def name="view_tagcloud_term()">
  % if isinstance(s.model, DocumentTerm):
    <a href="${ url_for(s.model.term) }" title="N_wd = ${ s.model.count }" data-size="${ s.model.count }"
             data-use-size="true">${ s.model.term.text }</a>
  % elif isinstance(s.model, TopicTerm):
    <a href="${ url_for(s.model.term) }"
       title="P(w | t) = ${ s.model.prob_wt }"
       data-size="${ s.model.prob_wt }" data-use-size="true">
      ${ s.model.term.text }
    </a>
  % endif
</%def>

<%def name="view_tagcloud_topic()">
  % if isinstance(s.model, DocumentTopic):
    <a href="${ url_for(s.model.topic) }" title="P(t | d) = ${ s.model.prob_td }"
       data-size="${ s.model.prob_td }" data-use-size="true">${ s.model.topic.text }</a>
  % elif isinstance(s.model, TopicTerm):
    <a href="${ url_for(s.model.topic) }" title="P(w | t) = ${ s.model.prob_wt }"
       data-size="${ s.model.prob_wt }" data-use-size="true">${ s.model.topic.text }</a>
  % endif
</%def>

<%def name="view_plot_document()">
  % if isinstance(s.model, DocumentTopic):
    {
      name: '${ s.model.document.slug }',
      y: ${ s.model.prob_td },
      url: '${ url_for(s.model.document) }'
    },
  % elif isinstance(s.model, DocumentTerm):
    {
      name: '${ s.model.document.slug }',
      y: ${ s.model.count },
      url: '${ url_for(s.model.document) }'
    },
  % endif
</%def>

<%def name="view_plot_term()">
  % if isinstance(s.model, DocumentTerm):
    {
      name: '${ s.model.term.text }',
      y: ${ s.model.count },
      url: '${ url_for(s.model.term) }'
    },
  % elif isinstance(s.model, TopicTerm):
    {
      name: '${ s.model.term.text }',
      y: ${ s.model.prob_wt },
      url: '${ url_for(s.model.term) }'
    },
  % endif
</%def>

<%def name="view_plot_topic()">
  % if isinstance(s.model, TopicTerm):
    {
      name: '${ s.model.topic.text }',
      y: ${ s.model.prob_wt },
      url: '${ url_for(s.model.topic) }'
    },
  % endif
</%def>
