<%inherit file="base.html"/>
<%namespace name="macros" file="macros.html"/>

<%block name="title">Term ${ s.model.text }</%block>

<%def name="overview()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Term:
        <a href="${ url_for(s.model) }">
          ${ s.model.text }
        </a>
        <small>(modality: ${ s.model.modality.name })</small>
      </h3>
      Number of occurrences = ${ s.model.count }
    </div>

    <div class="panel-body">
      <div class="bs-callout bs-callout-${ macros.colcl('topics') }">
        <h4>Topics:</h4>

        <div id="plot-topics" style="height:250px;"></div>

        <%macros:tagcloud items="${s.model.topics}" additional_class="text-center" args="t">
          <a href="${ url_for(t.topic) }" title="P(w | t) = ${ '%.4f' % t.probability }" data-size="${ t.probability }"
             data-use-size="true">${ t.topic.text }</a>
        </%macros:tagcloud>
      </div>

      <div class="bs-callout bs-callout-${ macros.colcl('docs') }">
        <h4>Documents:</h4>

        <div id="plot-documents" style="height:250px;"></div>

        <%macros:tagcloud items="${s.model.documents}" additional_class="collapsed text-center" args="d">
          ${ mp.get_view(d.document, view='tagcloud', np=d.count, np_fmt='N_wd = %d') }
        </%macros:tagcloud>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function () {
      createPieChart(
          $('#plot-topics'),
          'Usage in topics',
          ['t', 'P(w | t)'],
          [
            % for t in s.model.topics:
              {
                name: '${ t.topic.text }',
                y: ${ '%.4f' % t.probability },
                url: '${ url_for(t.topic) }'
              },
            % endfor
          ]
      );
    });


    $(function () {
      createPieChart(
          $('#plot-documents'),
          'Usage in documents',
          ['d', 'N_wd'],
          [
            % for d in s.model.documents:
              {
                name: '${ d.document.slug }',
                y: ${ d.count },
                url: '${ url_for(d.document) }'
              },
            % endfor
          ]
      );
    });
  </script>
</%def>


<%def name="similar()">
  <div class="bs-callout bs-callout-${ macros.colcl('topics') } list-group">
    <h3>Used in same topics</h3>
  </div>
</%def>


<div class="container">
  <div>
    <h3>Term: ${ s.model.text }</h3>

    <div class="bs-component">
      <ul class="nav nav-pills">
        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
        <li><a href="#similar" data-toggle="tab">Similar</a></li>
      </ul>
      <div class="tab-content" style="padding: 10px;">
        <div class="tab-pane fade active in" id="overview">
          ${ self.overview() }
        </div>
        <div class="tab-pane fade" id="similar">
          ${ self.similar() }
        </div>
      </div>
    </div>
  </div>
</div>
