<%def name="view_hierarchy()">
  <%def name="show_topic_tree(topic)">
    % if topic is not None:
      <li class="list-group-item"
          style="border-width: 2px; border-color: ${ ('rgba(92, 184, 92, %s)' % (topic.level / 3)) if (topic.level > 0 and not topic.is_background) else 'rgba(0, 0, 0, %s)' % (topic.level / 6 + 0.1) }">
        <h4 class="list-group-item-heading">
          <a href="${ url_for(topic) }">
            Topic ${ topic.text }
          </a>

          % if isinstance(parent_obj, Document) and len(topic.documents) > 0:
            <% assert len(topic.documents) == 1 and topic.documents[0].document_id == parent_obj.id, (len(topic.documents), topic.documents, parent_obj) %>
            ${ mp.get_view(ADocumentTopic(src=topic.documents[0], child_type='topic')) }
          % endif
        </h4>
        <p class="list-group-item-text">
          <div class="nofloat">
            % if isinstance(parent_obj, Document):
              <%
                probability = topic.documents[0].prob_td if topic.documents else 0
                p_fmt = 'P(t | d) = %f'
              %>
            % elif isinstance(parent_obj, Term):
              <%
                matching_obj = next((t for t in topic.terms if t.term == parent_obj), None)
                probability = matching_obj.prob_wt if matching_obj else 0
                p_fmt = 'P(w | t) = %f'
              %>
            % endif
            <div class="progress small" title="${ p_fmt % probability }">
              <div class="progress-bar progress-bar-default" style="width: ${ probability * 100 }%"></div>
            </div>
          </div>
          <%macros:tagcloud items="${ topic.terms }" limit="${ -1 }" additional_class='' args="w">
            % if w.term == parent_obj:
              <mark>${ mp.get_view(w, view='tagcloud_term') }</mark>
            % else:
              ${ mp.get_view(w, view='tagcloud_term') }
            % endif
          </%macros:tagcloud>
        </p>

        <ul class="list-group" style="margin-bottom: 0">
          % for t in topic.children:
            ${ show_topic_tree(t.child) }
          % endfor
        </ul>
      </li>
    % endif
  </%def>

  <% parent_obj = context.get('parent_obj', None) %>

  % if s.model.level == 0:
    <ul class="list-group">
      ${ show_topic_tree(s.model) }
    </ul>
  % endif
</%def>


<%inherit file="base.html"/>
<%namespace name="macros" file="macros.html"/>

<%block name="title">Topic ${ s.model.text }</%block>

<%def name="overview()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Topic ${ s.model.text }
      </h3>
      P(t) = ${ '%.3f' % s.model.probability }
      ${ macros.assess_topic(
      ATopic(src=s.model),
      "Please rate this topic",
      "pull-right") }
    </div>

    % if s.model.summaries is not None:
      <div class="bs-callout bs-callout-${ macros.colcl('summaries') }">
        <h4>Summaries</h4>
        <%macros:listgroup items="${ s.model.summaries }" limit="${ 20 }" additional_class="collapsed text-center" args="m">
          ${ mp.get_view(m) }
        </%macros:listgroup>
      </div>
    % endif

    <div class="bs-callout col-xs-4 bs-callout-${ macros.colcl('words') }">
      <h4>Words [sorted by P(w | t)]:</h4>
      <table class="table">
        <tr>
          <th>P(w | t)</th>
          <th>Word</th>
        </tr>
      % for w in sorted(s.model.terms, key=lambda x: x.prob_wt, reverse=True):
        <tr>
          <td>
            ${ w.prob_wt }
          </td>
          <td>
            ${ macros.assess_yesno(
            ATopicTerm(src=w, child_type='term'),
            "",
            "'%s' fits well in this topic" % w.term.text,
            "'%s' doesn't belong here" % w.term.text) }
            ${ mp.get_view(w, view='tagcloud_term') }
          </td>
        </tr>
      % endfor
      </table>
    </div>
    <div class="bs-callout col-xs-4 bs-callout-${ macros.colcl('words') }">
      <h4>Words [sorted by P(t | w)]:</h4>
      <table class="table">
        <tr>
          <th>P(t | w)</th>
          <th>Word</th>
        </tr>
      % for w in sorted(s.model.terms, key=lambda x: x.prob_tw, reverse=True):
        <tr>
          <td>
            ${ w.prob_tw }
          </td>
          <td>
            ${ macros.assess_yesno(
            ATopicTerm(src=w, child_type='term'),
            "",
            "'%s' fits well in this topic" % w.term.text,
            "'%s' doesn't belong here" % w.term.text) }
            ${ mp.get_view(w, view='tagcloud_term') }
          </td>
        </tr>
      % endfor
      </table>
    </div>
    <div class="bs-callout col-xs-4 bs-callout-${ macros.colcl('docs') }">
      <h4>Documents [corted by P(t | d)]:</h4>
      <%macros:listgroup items="${ s.model.documents }" limit="${ len(s.model.terms) }" additional_class="collapsed text-center" args="d">
        ${ mp.get_view(d, view='tagcloud_document') }
      </%macros:listgroup>
    </div>
  </div>

  <script type="text/javascript">
    $(function () {
      createPieChart(
          $('#plot-documents'),
          'Usage in documents',
          ['d', 'P(t | d)'],
          [
            % for d in s.model.documents[:200]:
              ${ mp.get_view(d, 'plot_document') }
            % endfor
          ],
          1
      );
    });

    $(function () {
      createPieChart(
          $('#plot-words'),
          'Words distribution',
          ['w', 'P(w | t)'],
          [
            % for w in s.model.terms[:200]:
              ${ mp.get_view(w, 'plot_term') }
            % endfor
          ]
      );
    });
  </script>
</%def>


<%def name="similar()">
  <div class="bs-callout bs-callout-${ macros.colcl('words') }">
    <h3>Similar words structure</h3>

    ## TODO
    </div>
</%def>


<div class="container">
  <div>
    <h3>Topic ${ s.model.text }</h3>

    <div class="bs-component">
      <ul class="nav nav-pills">
        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
        <li><a href="#similar" data-toggle="tab">Similar</a></li>
      </ul>
      <div class="tab-content" style="padding: 10px;">
        <div class="tab-pane fade active in" id="overview">
          ${ self.overview() }
        </div>
        <div class="tab-pane fade" id="similar">
          ${ self.similar() }
        </div>
      </div>
    </div>
  </div>
</div>
