<%!
from webassets import Environment, Bundle
from webassets.env import RegisterError

assets_env = Environment('static', '/static')
assets_env.debug = True

def assets_urls(name, files, filters, output):
    asset = Bundle(*files, filters=filters, output=output)
    try:
        assets_env.register(name, asset)
    except RegisterError:
        pass
    return assets_env[name].urls()
%>

<!doctype html>
<html>
    <head>
        <title>
            <%block name="title"/>
            - TM Vis
        </title>

        % for url in assets_urls('css', ['css/bootstrap.css', 'css/custom.css'], 'cssmin', 'css/_packed.css'):
            <link rel="stylesheet" type="text/css" href="${url}">
        % endfor

        % for url in assets_urls('js', ['js/libs/jquery-2.1.1.js', 'js/libs/highcharts.js', 'js/libs/drilldown.js', 'js/libs/bootstrap.js', 'js/libs/jquery.autocomplete.js', 'js/libs/index.js', 'js/libs/sprintf.js', 'js/libs/tinycolor.js', 'js/common.js', 'js/plots.js', 'js/search.js'], 'rjsmin', 'js/_packed.js'):
            <script src="${url}"></script>
        % endfor

        <%block name="head"/>
    </head>

    <body>
        <header>
            <div class="container">
                <h1><a href="${ url_for('overview') }">TM Vis</a></h1>

                <ul class="lead breadcrumb">
                    <li><a href="${ url_for('overview') }">Collection</a></li>
                    <li>${ self.title() }</li>
                </ul>
            </div>
        </header>
        <hr>

        <section>
            ${self.body()}
        </section>

        <hr>
        <footer>
            <div class="container">
                <p>&copy; 2014-2015</p>
            </div>
        </footer>
    </body>
</html>
