<!doctype html>
<html>
    <head>
        <title>{% block title %}{{ breadcrumbs[-1] }}{% endblock %} - TM Vis</title>

        {% assets filters='cssmin', output='css/packed.css',
                  'css/bootstrap.css', 'css/custom.css' %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
        {% endassets %}

        {% assets filters='jsmin',
              output='js/packed.js',
              'js/jquery-2.1.1.min.js',
              'js/highcharts.js', 'js/drilldown.js',
              'js/bootstrap.min.js',
              'js/index.js',
              'js/sprintf.js', 'js/tinycolor.js', 'js/custom.js' %}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets %}

        {% block head %}{% endblock %}
    </head>

    <body>

        <header>
            <div class="container">
                <h1><a href="{{ url_for('overview') }}">TM Vis</a></h1>

                <ul class="lead breadcrumb">
                    <li><a href="{{ url_for('overview') }}">Collection</a></li>
                    {% if breadcrumbs %}
                        {% for href, caption in breadcrumbs[:-1] %}
                            <li><a href="{{ href }}">{{ caption }}</a></li>
                        {% endfor %}
                        <li>{{ breadcrumbs[-1] }}</li>
                    {% endif %}
                </ul>
            </div>
        </header>
        <hr>

        {% block body %}{% endblock %}


        <hr>
        <footer>
            <div class="container">
                <p>&copy; 2014<span class="text-muted"> | Updated at {{ last_updated }}</span></p>
            </div>
        </footer>

    </body>
</html>
