<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - TM Vis</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    </head>

    <body>

        <header>
            <div class="container">
                <h1>{{ self.title() }} - TM Vis</h1>
                <p class="lead">SubHeader</p>
            </div>
        </header>
        <hr>

        {% block body %}{% endblock %}


        <hr>
        <footer>
            <div class="container">
                <p>&copy; 2014</p>
            </div>
        </footer>

    </body>
</html>
