<%inherit file="base.html"/>
<%namespace name="macros" file="macros.html"/>

<%block name="title">Document ${ document.title }</%block>

<%def name="overview()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                ${ document.title }
            </h3>
            ${ document.file_name }
            <div>
                % for term in document.modality(name='authors').terms[:]:
                    <a href="">
                        ${ term.term.text }
                    </a>
                    ${ ',' if not loop.last else '' }
                % endfor
            </div>
            <div>
                <a href="">
                    ${ document.conference }
                </a>
            </div>
        </div>

        <div class="panel-body">
            <div class="bs-callout bs-callout-${ macros.colcl('topics') }">
                <h4>Topics:</h4>
                <div id="plot-topics" style="height:250px;"></div>

                <%macros:tagcloud items="${document.topics}" additional_class="text-center" args="t">
                    <a href="${ url_for('topic', id=t.topic.id) }" title="P(t | d) = ${ '%.3f' % t.probability }" data-size="${ t.probability }" data-use-size="true">${ t.topic.text }</a>
                </%macros:tagcloud>

                <div id="plot-topics-flow" style="height:400px;"></div>
            </div>

            <div class="bs-callout bs-callout-${ macros.colcl('words') }">
                <h4>Words:</h4>
                <div id="plot-words" style="height:250px;"></div>

                <%macros:tagcloud items="${document.modality(name='words').terms}" additional_class="collapsed text-center" args="w">
                    <a href="${ url_for('term', modality='words', text=w.term.text) }" title="N_wd = ${ w.count }" data-size="${ w.count }" data-use-size="true">${ w.term.text }</a>
                </%macros:tagcloud>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            createPieChart(
                $('#plot-topics'),
                'Topics distribution',
                ['t', 'P(t | d)'],
                [
                    % for t in document.topics:
                        {
                            name: '${ t.topic.text }',
                            y: ${ '%.3f' % t.probability },
                            url: '${ url_for('topic', id=t.topic.id) }'
                        },
                    % endfor
                ]
            );
        });

        $(function () {
            createPieChart(
                $('#plot-words'),
                'Words distribution',
                ['w', 'N_wd'],
                [
                    % for w in document.modality(name='words').terms:
                        {
                            name: '${ w.term.text }',
                            y: ${ w.count },
                            url: '${ url_for('term', modality='words', text=w.term.text) }'
                        },
                    % endfor
                ]
            );
        });
    </script>
</%def>

<%def name="similar()">
    <div class="bs-callout bs-callout-${ macros.colcl('topics') } list-group">
        <h3>Similar topics structure</h3>

    </div>

    <div class="bs-callout bs-callout-${ macros.colcl('other') } list-group">
        <h3>By same authors</h3>

    </div>
</%def>

<%def name="content()">
    <div class="container">
        <object data="${ url_for('static', filename='documents_files/%s.pdf' % document.file_name) }" type="application/pdf" style="width: 100%; height: 800px;">
            <a href="${ url_for('static', filename='documents_files/%s.pdf' % document.file_name) }">Download PDF</a>
        </object>
    </div>
</%def>


<div class="container">
    <div>
        <h3>${ document.title }</h3>
        <div class="bs-component">
            <ul class="nav nav-pills">
                <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                <li><a href="#similar" data-toggle="tab">Similar</a></li>
                <li><a href="#content" data-toggle="tab">Content</a></li>
            </ul>
            <div class="tab-content" style="padding: 10px;">
                <div class="tab-pane fade active in" id="overview">
                    ${ self.overview() }
                </div>
                <div class="tab-pane fade" id="similar">
                    ${ self.similar() }
                </div>
                <div class="tab-pane fade" id="content">
                    ${ self.content() }
                </div>
            </div>
        </div>
    </div>
</div>
