{% extends "base.html" %}

{% set breadcrumbs = [
    'Documents'
] %}

{% block body %}
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Document</th>
                    <th># of Words</th>
                    <th>Topics</th>
                    <th>Words</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <script>
            dataset = {
                columns: [
                    {
                        type: 'index'
                    },
                    {
                        type: 'link',
                        href_fmt: '{{ url_for('document', slug='999') }}'.replace('999', '%s'),
                        href_field: 'slug',
                        text_field: 'name'
                    },
                    {
                        type: 'text',
                        field: 'np'
                    },
                    {
                        type: 'tagcloud',
                        field: 'topics',
                        href_fmt: '{{ url_for('topic', t=999) }}'.replace('999', '%d'),
                        href_field: 't',
                        text_field: 't',
                        valprefix: 'P(t | d) = ',
                        size_field: 'np'
                    },
                    {
                        type: 'tagcloud',
                        field: 'words',
                        href_fmt: '{{ url_for('word', w=999) }}'.replace('999', '%d'),
                        href_field: 'w',
                        text_field: 'word',
                        valprefix: 'N_wd = ',
                        size_field: 'np'
                    },
                ],
                data: [
                {% autoescape false %}
                {% for d in docs %}
                    {
                        d: {{ d.d }},
                        slug: '{{ d.meta['slug'] }}',
                        name: '{{ d.meta['title'] }}',
                        np: {{ d.np }},
                        topics: [
                            {% for t in d.topics %}
                                {
                                    t: {{ t.t }},
                                    np: {{ t.np | round(3) }}
                                },
                            {% endfor %}
                        ],
                        words: [
                            {% for w in d.words %}
                                {
                                    w: {{ w.w }},
                                    np: {{ w.np }},
                                    word: '{{ w.word }}'
                                },
                            {% endfor %}
                        ]
                    },
                {% endfor %}
                {% endautoescape %}
                ]
            }
            fill_table($('table'), dataset, 15);
        </script>
    </div>
{% endblock %}
