{% extends "base.html" %}

{% set breadcrumbs = [
    (url_for('documents'), 'Documents'),
    'Document "%s"' % doc.name
] %}

{% block body %}
    <div class="container">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Document</th>
                    <th># of Words</th>
                    <th>Topics</th>
                    <th>Words</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{{ url_for('document', d=doc.d) }}">{{ doc.name }}</a>
                    </td>
                    <td>{{ doc.np }}</td>
                    <td>
                        {% set comma_j = joiner(',') %}
                        {% for t in doc.topics[:5] %}
                            {{ comma_j() }}
                            <a href="{{ url_for('topic', t=t.t) }}" title="P(t | d) = {{ t.np }}">{{ t.t }}</a>
                        {% endfor %}
                        {{ comma_j() }}
                        ...
                    </td>
                    <td>
                        {% set comma_j = joiner(',') %}
                        {% for w in doc.words[:5] %}
                            {{ comma_j() }}
                            <a href="{{ url_for('word', w=w.w) }}" title="N_wd = {{ w.np }}">{{ w.word }}</a>
                        {% endfor %}
                        {{ comma_j() }}
                        ...
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6" id="plot-topics" style="height:400px;"></div>
            <div class="col-md-6" id="plot-words" style="height:400px;"></div>

            <script type="text/javascript">
                $(function () {
                    createPlot(
                        $('#plot-topics'),
                        'Topics distribution',
                        ['t', 'P(t | d)'],
                        15, 0.01,
                        [
                            {% for t in doc.topics | sort(attribute='np', reverse=True)  %}
                                {
                                    name: '{{ t.t }}',
                                    y: {{ t.np }}
                                },
                            {% endfor %}
                        ]
                    );
                });


                $(function () {
                    createPlot(
                        $('#plot-words'),
                        'Words distribution',
                        ['w', 'N_wd'],
                        15, 0,
                        [
                            {% for w in doc.words | sort(attribute='np', reverse=True)  %}
                                {
                                    name: '{{ w.word }}',
                                    y: {{ w.np }}
                                },
                            {% endfor %}
                        ]
                    );
                });
            </script>
        </div>
    </div>

    <div class="container">
        <h3 style="padding-bottom: 10px;">
            Document content

            <div class="dropdown pull-right">
                <a class="dropdown-toggle well well-sm" data-toggle="dropdown" href="#">
                    Topics Highlight
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" onclick="process_data_color('active'); return false;">Active</a></li>
                    <li><a href="#" onclick="process_data_color('passive'); return false;">Passive</a></li>
                    <li><a href="#" onclick="process_data_color('disabled'); return false;">Disabled</a></li>
                </ul>
            </div>
        </h3>

        <div class="well">
            <h4>Topics:</h4>

            <ul class="nav nav-pills">
                {% for t, p in topics %}
                    <li data-color="{{ t }}">
                        <a style="border: 1px solid grey" href="{{ url_for('topic', t=t) }}">
                            <span title="{{ p }}">
                                {{ t }} <!-- <span class="badge">{{ p }}</span> -->
                            </span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% for cw in doc.content %}
            {% if cw.w != -1 %}
                <span data-color="{{ cw.topics.t }}">
                    <a href="{{ url_for('word', w=cw.w) }}" title="Initial form: {{ cw.word_norm }}&#10;# of occurences: {{ cw.np }}">
                        {{ cw.word }}
                    </a>
                </span>
            {% else %}
                {{ cw.word }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
