{% extends "base.html" %}

{% set breadcrumbs = [
    'Overview'
] %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>
                    <a href="{{ url_for('topics') }}">Topics</a>
                </h2>

                <div class="overlay-container">
                    <div id="plot-topics" style="height: 400px; width: 100%"></div>
                    <div class="overlay"><h1>{{ topics | length }}</h1></div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        createLineChart(
                            $('#plot-topics'),
                            'Probabilities',
                            ['t', 'P(t)'],
                            [
                                {% for t in topics | sort(attribute='np', reverse=True)  %}
                                    {
                                        x: {{ loop.index }},
                                        label: "{{ t.t }}",
                                        y: {{ t.np }}
                                    },
                                {% endfor %}
                            ]
                        );
                    });
                </script>
            </div>
            <div class="col-md-4">
                <h2>
                    <a href="{{ url_for('search') }}">Documents</a>
                </h2>

                <div class="overlay-container">
                    <div id="plot-documents" style="height: 400px; width: 100%"></div>
                    <div class="overlay"><h1>{{ docs | length }}</h1></div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        createLineChart(
                            $('#plot-documents'),
                            'Number of words (top-100)',
                            ['d', 'N'],
                            [
                                {% for d in docs[:100] | sort(attribute='np', reverse=True)  %}
                                    {
                                        x: {{ loop.index }},
                                        label: "{{ d.d }}",
                                        y: {{ d.np }}
                                    },
                                {% endfor %}
                            ]
                        );
                    });
                </script>
            </div>
            <div class="col-md-4">
                <h2>
                    <a href="{{ url_for('words') }}">Words</a>
                </h2>

                <div class="overlay-container">
                    <div id="plot-words" style="height: 400px; width: 100%"></div>
                    <div class="overlay"><h1>{{ words | length }}</h1></div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        createLineChart(
                            $('#plot-words'),
                            'Occurences (top-100)',
                            ['w', 'N'],
                            [
                                {% for w in words[:100] | sort(attribute='np', reverse=True)  %}
                                    {
                                        x: {{ loop.index }},
                                        label: "{{ w.word }}",
                                        y: {{ w.np }}
                                    },
                                {% endfor %}
                            ]
                        );
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock %}
