{% extends "base.html" %}

{% set breadcrumbs = [
    'Overview'
] %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Topics</h2>

                <div id="plot-topics" style="height: 400px; width: 100%"></div>
                <script type="text/javascript">
                    $(function () {
                        createLineChart(
                            $('#plot-topics'),
                            'Probabilities',
                            ['t', 'P(t)'],
                            [
                                {% for t in topics | sort(attribute='np', reverse=True)  %}
                                    {
                                        name: '{{ t.t }}',
                                        y: {{ t.np }}
                                    },
                                {% endfor %}
                            ]
                        );
                    });
                </script>

                <p><a class="btn btn-default" href="{{ url_for('topics') }}" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Documents</h2>

                <div id="plot-documents" style="height: 400px; width: 100%"></div>
                <script type="text/javascript">
                    $(function () {
                        createLineChart(
                            $('#plot-documents'),
                            'Number of words (top-{{ docs | length }})',
                            ['d', 'N'],
                            [
                                {% for d in docs | sort(attribute='np', reverse=True)  %}
                                    {
                                        x: {{ loop.index }},
                                        y: {{ d.np }}
                                    },
                                {% endfor %}
                            ]
                        );
                    });
                </script>

                <p><a class="btn btn-default" href="{{ url_for('documents') }}" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Words</h2>

                <div id="plot-words" style="height: 400px; width: 100%"></div>
                <script type="text/javascript">
                    $(function () {
                        createLineChart(
                            $('#plot-words'),
                            'Number of occurences (top-{{ words | length }})',
                            ['w', 'N'],
                            [
                                {% for w in words | sort(attribute='np', reverse=True)  %}
                                    {
                                        x: {{ loop.index }},
                                        y: {{ w.np }}
                                    },
                                {% endfor %}
                            ]
                        );
                    });
                </script>

                <p><a class="btn btn-default" href="{{ url_for('words') }}" role="button">View details &raquo;</a></p>
            </div>
        </div>
    </div>
{% endblock %}
