{% extends "base.html" %}

{% block body %}
    <form class="container form-horizontal" onsubmit="return false;">
        <div class="form-group">
            <label for="search-input" class="control-label col-sm-1">Search:</label>
            <div class="col-sm-11 has-feedback">
                <input type="text" name="query" id="search-input" class="form-control"
                       value="{{ query }}" placeholder="enter query here..."
                       data-search-base-url="{{ url_for('%s:search_results' % ep_base, query='%s').replace('%25s', '%s') }}"
                       data-search-completions-url="{#{{ url_for('%s:search_completions' % ep_base) }}#}">
                <span class="form-control-feedback glyphicon glyphicon-search"></span>
            </div>
        </div>
        <div class="form-group">
            {% for settings_item in settings %}
                {% if settings_item['mode'] == 'choice' %}
                    <div class="btn-group" data-switch-name="{{ settings_item['name'] }}" data-switch-selected="{{ settings_item['options'][0]['value'] }}">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span>{{ settings_item['options'][0]['text'] }}</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% for option in settings_item['options'] %}
                                {% if option['text'] == '-' %}
                                    <li class="divider"></li>
                                {% else %}
                                    <li><a href="#" data-switch-value="{{ option['value'] }}">{{ option['text'] }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% elif settings_item['mode'] == 'bool' %}
                    <a class="btn btn-default" data-switch-name="{{ settings_item['name'] }}" data-switch-selected="0">
                        {{ settings_item['text'] }}: <span>off</span>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </form>

    <div id="search-loading" style="display: none; position: absolute; width: 100%; z-index: -10">
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
    </div>

    <div id="search-error" style="display: none">
        <div class="alert alert-danger">
            <strong>Error occurred!</strong> Please report about the actions which lead to it.
        </div>
    </div>

    <div class="container" id="search-results">
        {{ results_page | safe }}
    </div>

    <script type="text/javascript">
        init_search();
    </script>
{% endblock %}
