{% extends "base.html" %}

{% set breadcrumbs = [
    (url_for('topics'), 'Topics'),
    'Topic %d' % topic.t
] %}

{% block body %}
    <div class="container">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>P(t)</th>
                    <th>Documents</th>
                    <th>Words</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="{{ url_for('topic', t=topic.t) }}">{{ topic.t }}</a>
                    </td>
                    <td>{{ topic.np }}</td>
                    <td>
                        {% set comma_j = joiner(',') %}
                        {% for d in topic.documents[:5] %}
                            {{ comma_j() }}
                            <a href="{{ url_for('document', d=d.d) }}" title="P(t | d) = {{ d.np }}">{{ d.d }}</a>
                        {% endfor %}
                        {{ comma_j() }}
                        ...
                    </td>
                    <td>
                        {% set comma_j = joiner(',') %}
                        {% for w in topic.words[:5] %}
                            {{ comma_j() }}
                            <a href="{{ url_for('word', w=w.w) }}" title="P(w | t) = {{ w.np }}">{{ w.word }}</a>
                        {% endfor %}
                        {{ comma_j() }}
                        ...
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6" id="plot-documents" style="height:400px;"></div>
            <div class="col-md-6" id="plot-words" style="height:400px;"></div>

            <script type="text/javascript">
                $(function () {
                    createPlot(
                        $('#plot-documents'),
                        'Usage in documents',
                        ['d', 'P(t | d)'],
                        15, 0.01,
                        [
                            {% for d in topic.documents | sort(attribute='np', reverse=True)  %}
                                {
                                    name: '{{ d.d }}',
                                    y: {{ d.np }}
                                },
                            {% endfor %}
                        ]
                    );
                });


                $(function () {
                    createPlot(
                        $('#plot-words'),
                        'Words distribution',
                        ['w', 'P(w | t)'],
                        15, 0,
                        [
                            {% for w in topic.words | sort(attribute='np', reverse=True)  %}
                                {
                                    name: '{{ w.word }}',
                                    y: {{ w.np }}
                                },
                            {% endfor %}
                        ]
                    );
                });
            </script>
        </div>
    </div>
{% endblock %}
