{% extends "base.html" %}

{% set breadcrumbs = [
    'Topics'
] %}

{% block body %}
    <div class="container">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Topic</th>
                    <th>P(t)</th>
                    <th>Documents</th>
                    <th>Words</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <script>
            dataset = {
                columns: [
                    {
                        type: 'index'
                    },
                    {
                        type: 'link',
                        href_fmt: '{{ url_for('topic', t=999) }}'.replace('999', '%d'),
                        href_field: 't',
                        text_field: 't'
                    },
                    {
                        type: 'text',
                        field: 'np'
                    },
                    {
                        type: 'tagcloud',
                        field: 'documents',
                        href_fmt: '{{ url_for('document', slug='999') }}'.replace('999', '%s'),
                        href_field: 'slug',
                        text_field: 'slug',
                        valprefix: 'P(t | d) = ',
                        size_field: 'np',
                    },
                    {
                        type: 'tagcloud',
                        field: 'words',
                        href_fmt: '{{ url_for('word', word='999') }}'.replace('999', '%s'),
                        href_field: 'word',
                        text_field: 'word',
                        valprefix: 'P(w | t) = ',
                        size_field: 'np'
                    },
                ],
                data: [
                {% autoescape false %}
                {% for t in topics %}
                    {
                        t: {{ t.t }},
                        np: {{ t.np | round(3) }},
                        documents: [
                            {% for d in t.documents %}
                                {
                                    d: {{ d.d }},
                                    slug: '{{ d.meta['slug'] }}',
                                    np: {{ d.np | round(3) }}
                                },
                            {% endfor %}
                        ],
                        words: [
                            {% for w in t.words %}
                                {
                                    w: {{ w.w }},
                                    np: {{ w.np | round(4) }},
                                    word: '{{ w.word }}'
                                },
                            {% endfor %}
                        ]
                    },
                {% endfor %}
                {% endautoescape %}
                ]
            }
            fill_table($('table'), dataset);
        </script>

    </div>
{% endblock %}
