<%inherit file="base.html"/>
<%namespace name="macros" file="macros.html"/>

<%block name="title">Topic ${ topic.text }</%block>

<%def name="overview()">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        Topic ${ topic.text }
      </h3>
      P(t) = ${ '%.3f' % topic.probability }

      ${ macros.assess_yesno(
      am.ATopic,
      {'topic_id': topic.id},
      "Is this a good topic overall?",
      "Yes",
      "No",
      "pull-right") }
    </div>

    <div class="panel-body">
      <div class="bs-callout bs-callout-${ macros.colcl('docs') }">
        <h4>Documents:</h4>
        <div id="plot-documents" style="height:250px;"></div>

        <%macros:tagcloud items="${topic.documents}" additional_class="collapsed text-center" args="d">
          ${ macros.document_in_tagcloud(d.document.slug, d.probability, 'P(t | d) = %.3f', d.document.title, '') }
        </%macros:tagcloud>
      </div>

      <div class="bs-callout bs-callout-${ macros.colcl('words') }">
        <h4>Words:</h4>
        <div id="plot-words" style="height:250px;"></div>

        <%macros:tagcloud items="${topic.modality(name='words').terms_d.limit(500)}" additional_class="collapsed text-center" args="w">
          <a href="${ url_for('term', modality='words', text=w.term.text) }"
             title="P(w | t) = ${ '%.4f' % w.probability }"
             data-size="${ w.probability }" data-use-size="true">
            ${ w.term.text }
          </a>

          ${ macros.assess_yesno(
          am.ATopicTerm,
          {'topic_id': w.topic_id, 'modality_id': w.modality_id, 'term_id': w.term_id, 'child_type': 'term'},
          "",
          "'%s' fits well in this topic" % w.term.text,
          "'%s' doesn't belong here" % w.term.text) }
        </%macros:tagcloud>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function () {
      createPieChart(
          $('#plot-documents'),
          'Usage in documents',
          ['d', 'P(t | d)'],
          [
            % for d in topic.documents:
              {
                name: '${ d.document.slug }',
                y: ${ '%.3f' % d.probability },
                url: '${ url_for('document', slug=d.document.slug) }'
              },
            % endfor
          ],
          1
      );
    });

    $(function () {
      createPieChart(
          $('#plot-words'),
          'Words distribution',
          ['w', 'P(w | t)'],
          [
            % for w in topic.modality(name='words').terms_d.limit(500):
              {
                name: '${ w.term.text }',
                y: ${ '%.3f' % w.probability },
                url: '${ url_for('term', modality='words', text=w.term.text) }'
              },
            % endfor
          ]
      );
    });
  </script>
</%def>


<%def name="similar()">
  <div class="bs-callout bs-callout-${ macros.colcl('words') }">
    <h3>Similar words structure</h3>

    ## TODO
    </div>
</%def>


<div class="container">
  <div>
    <h3>Topic ${ topic.text }</h3>
    <div class="bs-component">
      <ul class="nav nav-pills">
        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
        <li><a href="#similar" data-toggle="tab">Similar</a></li>
      </ul>
      <div class="tab-content" style="padding: 10px;">
        <div class="tab-pane fade active in" id="overview">
          ${ self.overview() }
        </div>
        <div class="tab-pane fade" id="similar">
          ${ self.similar() }
        </div>
      </div>
    </div>
  </div>
</div>
