{% extends "base.html" %}

{% set breadcrumbs = [
    'Words'
] %}

{% block body %}
    <div class="container">
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Word</th>
                    <th># of Occurences</th>
                    <th>Topics</th>
                    <th>Documents</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <script>
            dataset = {
                columns: [
                    {
                        type: 'index'
                    },
                    {
                        type: 'link',
                        href_fmt: '{{ url_for('word', w=999) }}'.replace('999', '%d'),
                        href_field: 'w',
                        text_field: 'word'
                    },
                    {
                        type: 'text',
                        field: 'np'
                    },
                    {
                        type: 'tagcloud',
                        field: 'topics',
                        href_fmt: '{{ url_for('topics', t=999) }}'.replace('999', '%d'),
                        href_field: 't',
                        text_field: 't',
                        size_field: 'np',
                    },
                    {
                        type: 'tagcloud',
                        field: 'documents',
                        href_fmt: '{{ url_for('document', d=999) }}'.replace('999', '%d'),
                        href_field: 'd',
                        text_field: 'd',
                        size_field: 'np'
                    },
                ],
                data: [
                {% autoescape false %}
                {% for w in words %}
                    {
                        w: {{ w.w }},
                        word: '{{ w.word }}',
                        np: {{ w.np }},
                        documents: [
                            {% for d in w.documents %}
                                {
                                    d: {{ d.d }},
                                    np: {{ d.np }}
                                },
                            {% endfor %}
                        ],
                        topics: [
                            {% for t in w.topics %}
                                {
                                    t: {{ t.t }},
                                    np: {{ t.np | round(4) }},
                                },
                            {% endfor %}
                        ]
                    },
                {% endfor %}
                {% endautoescape %}
                ]
            }
            fill_table($('table'), dataset, 15);
        </script>

    </div>
{% endblock %}
