{% extends "base.html" %}

{% set breadcrumbs = [
    (url_for('overview'), 'Words'),
    'Word "%s"' % word.word
] %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Word:
                    <a href="{{ url_for('word', name=word.word) }}">
                        {{ word.word }}
                    </a>
                </h3>
                Number of occurrences = {{ word.np }}
            </div>

            <div class="panel-body">
                <div class="bs-callout bs-callout-info">
                    <h4>Topics:</h4>
                    <div id="plot-topics" style="height:400px;"></div>
                    <ul class="tagcloud">
                        {% for t in word.topics %}
                            <li>
                                <a href="{{ url_for('topic', name=t.t) }}" title="P(w | t) = {{ t.np | round(4) }}" data-size="{{ t.np }}">{{ t.t }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="bs-callout bs-callout-info">
                    <h4>Documents:</h4>
                    <div id="plot-documents" style="height:400px;"></div>
                    <ul class="tagcloud collapsed">
                        {% for d in word.documents %}
                            <li>
                                <a href="{{ url_for('document', name=d.meta['slug']) }}" title="N_wd = {{ d.np }}" data-size="{{ d.np }}">{{ d.meta['slug'] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            createPieChart(
                $('#plot-topics'),
                'Usage in topics',
                ['t', 'P(w | t)'],
                [
                    {% for t in word.topics | sort(attribute='np', reverse=True)  %}
                        {
                            name: '{{ t.t }}',
                            y: {{ t.np | round(4) }},
                            url: '{{ url_for('topic', name=t.t) }}'
                        },
                    {% endfor %}
                ]
            );
        });


        $(function () {
            createPieChart(
                $('#plot-documents'),
                'Usage in documents',
                ['d', 'N_wd'],
                [
                    {% for d in word.documents | sort(attribute='np', reverse=True)  %}
                        {
                            name: '{{ d.meta['slug'] }}',
                            y: {{ d.np }},
                            url: '{{ url_for('document', name=d.meta['slug']) }}'
                        },
                    {% endfor %}
                ]
            );
        });
    </script>
{% endblock %}
