{% extends "base.html" %}

{% set breadcrumbs = [
    (url_for('topics'), 'Topics'),
    'Topic'
] %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="{{ url_for('topic', name=topic.t) }}">
                        Topic #{{ topic.t }}
                    </a>
                </h3>
                P(t) = {{ topic.np | round(3) }}
            </div>

            <div class="panel-body">
                <div class="bs-callout bs-callout-info">
                    <h4>Documents:</h4>
                    <div id="plot-documents" style="height:400px;"></div>
                    <ul class="tagcloud collapsed">
                        {% for d in topic.documents %}
                            <li>
                                <a href="{{ url_for('document', name=d.meta['slug']) }}" title="P(t | d) = {{ d.np | round(3) }}" data-size="{{ d.np }}">{{ d.meta['slug'] }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="bs-callout bs-callout-info">
                    <h4>Words:</h4>
                    <ul class="tagcloud collapsed">
                        {% for w in topic.words %}
                            <li>
                                <a href="{{ url_for('word', name=w.word) }}" title="P(w | t) = {{ w.np | round(4) }}" data-size="{{ w.np }}">{{ w.word }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            createPieChart(
                $('#plot-documents'),
                'Usage in documents',
                ['d', 'P(t | d)'],
                [
                    {% for d in topic.documents | sort(attribute='np', reverse=True)  %}
                        {
                            name: '{{ d.meta['slug'] }}',
                            y: {{ d.np | round(3) }},
                            url: '{{ url_for('document', name=d.meta['slug']) }}'
                        },
                    {% endfor %}
                ]
            );
        });
    </script>
{% endblock %}
