.tagcloud li {
    display: inline;
    padding: 5px;
}

.tagcloud {
    padding: 0;
    line-height: 1.5em;
    overflow: hidden;
}

.tagcloud.collapsed {
    max-height: 15em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

.filter-table input {
    margin-left: 5px;
}
td.alt {
    background-color: rgba(255, 255, 0, 0.2) !important;
}

.overlay-container {
    position: relative;
}

.overlay {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.overlay h1 {
    margin-top: 50%;
    font-size: 60px;
    font-weight: 900;
}
