.tagcloud li {
    display: inline;
    padding: 5px;
}

.tagcloud {
    padding: 0;
}

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

.filter-table input {
    margin-left: 5px;
}
td.alt {
    background-color: rgba(255, 255, 0, 0.2) !important;
}
