{% extends "base.html" %}
{% import "macros.html" as macros %}

{% set breadcrumbs = [
    (url_for('documents'), 'Documents'),
    'Document'
] %}

{% macro overview() %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ doc.meta['title'] }}
            </h3>
            {{ doc.meta['slug'] }}
            <div>
                <a href="{{ url_for('documents:search', query='authors:"%s"' % doc.meta['authors']) }}">
                    {{ doc.meta['authors'] }}
                </a>
            </div>
            <div>
                <a href="{{ url_for('documents:search', query='conference:%s AND year:%s' % (doc.meta['conference'], doc.meta['year'])) }}">
                    {{ doc.meta['conference'] }},&nbsp;{{ doc.meta['year'] }}
                </a>
            </div>
        </div>

        <div class="panel-body">
            <div class="bs-callout bs-callout-{{ macros.colcl('topics') }}">
                <h4>Topics:</h4>
                <div id="plot-topics" style="height:250px;"></div>

                {% call(t) macros.tagcloud(doc.topics, additional_class='text-center') %}
                    <a href="{{ url_for('topic', name=t.t) }}" title="P(t | d) = {{ t.np | round(3) }}" data-size="{{ t.np }}" data-use-size="true">{{ t.t }}</a>
                {% endcall %}

                <div id="plot-topics-flow" style="height:400px;"></div>
            </div>

            <div class="bs-callout bs-callout-{{ macros.colcl('words') }}">
                <h4>Words:</h4>
                {% call(w) macros.tagcloud(doc.words, additional_class='collapsed text-center') %}
                    <a href="{{ url_for('word', name=w.word) }}" title="N_wd = {{ w.np }}" data-size="{{ w.np }}" data-use-size="true">{{ w.word }}</a>
                {% endcall %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            createPieChart(
                $('#plot-topics'),
                'Topics distribution',
                ['t', 'P(t | d)'],
                [
                    {% for t in doc.topics | sort(attribute='np', reverse=True)  %}
                        {
                            name: '{{ t.t }}',
                            y: {{ t.np | round(3) }},
                            url: '{{ url_for('topic', name=t.t) }}'
                        },
                    {% endfor %}
                ]
            );
        });

        $(function () {
            createLineChart(
                $('#plot-topics-flow'),
                'Topics flow',
                ['Word #', 'P'],
                [
                    {% for tf in topics_flow %}
                        {
                            name: "Topic {{ tf.t }}",
                            data: [
                                {% for p in tf.np %}
                                    [
                                        {{ loop.index }},
                                        {{ p }}
                                    ],
                                {% endfor %}
                            ]
                        },
                    {% endfor %}
                ]
            );
        });
    </script>
{% endmacro %}

{% macro similar() %}
    <div class="bs-callout bs-callout-{{ macros.colcl('topics') }} list-group">
        <h3>Similar topics structure</h3>

        {% for d in similar_docs['topics'] %}
            <div class="list-group-item">
                <span class="pull-right similarity-chart" data-value="{{ d.np }}"></span>
                <h4 class="list-group-item-heading">
                    <a href="{{ url_for('document', name=d.meta['slug']) }}">
                        {{ d.meta['title'] }}
                    </a>
                </h4>
                <div class="list-group-item-text">
                    <a href="{{ url_for('documents:search', query='authors:"%s"' % d.meta['authors']) }}">
                        {{ d.meta['authors'] }}
                    </a>
                    |
                    <a href="{{ url_for('documents:search', query='conference:%s AND year:%s' % (d.meta['conference'], d.meta['year'])) }}">
                        {{ d.meta['conference'] }},&nbsp;{{ d.meta['year'] }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="bs-callout bs-callout-{{ macros.colcl('other') }} list-group">
        <h3>By same authors</h3>

        {% for d in similar_docs['authors'] %}
            <div class="list-group-item">
                <span class="pull-right similarity-chart" data-value="{{ d.np }}"></span>
                <h4 class="list-group-item-heading">
                    <a href="{{ url_for('document', name=d.meta['slug']) }}">
                        {{ d.meta['title'] }}
                    </a>
                </h4>
                <div class="list-group-item-text">
                    <a href="{{ url_for('documents:search', query='authors:"%s"' % d.meta['authors']) }}">
                        {{ d.meta.highlights('authors_tags') | safe or d.meta['authors'] }}
                    </a>
                    |
                    <a href="{{ url_for('documents:search', query='conference:%s AND year:%s' % (d.meta['conference'], d.meta['year'])) }}">
                        {{ d.meta['conference'] }},&nbsp;{{ d.meta['year'] }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro content() %}
    <div class="container">
        <div class="well sticky-header">
            <h4 style="padding: 10px;">
                Topics:
                <div class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Highlight
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" style="margin-left: 20px;">
                        <li><a href="#" onclick="process_data_color('active'); return false;">Active</a></li>
                        <li><a href="#" onclick="process_data_color('passive'); return false;">Passive</a></li>
                        <li><a href="#" onclick="process_data_color('disabled'); return false;">Disabled</a></li>
                    </ul>
                </div>
            </h4>

            <ul class="nav nav-pills">
                {% for t in topics_in_content %}
                    <li data-color="{{ t.t }}">
                        <a style="border: 1px solid grey" href="{{ url_for('topic', name=t.t) }}" title="P(t | d) = {{ t.np[0] | round(3) }}&#10;# of words here: {{ t.np[1] }}">
                            {{ t.t }} <!-- <span class="badge">{{ p }}</span> -->
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {{ html | safe }}
    </div>
{% endmacro %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='docsdata/%s.css' % doc.meta['filename']) }}">
{% endblock %}


{% block body %}
<div class="container">
    <div>
        <h3>{{ doc.meta['title'] }}</h3>
        <div class="bs-component">
            <ul class="nav nav-pills">
                <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                <li><a href="#similar" data-toggle="tab">Similar</a></li>
                <li><a href="#content" data-toggle="tab">Content</a></li>
            </ul>
            <div class="tab-content" style="padding: 10px;">
                <div class="tab-pane fade active in" id="overview">
                    {{ overview() }}
                </div>
                <div class="tab-pane fade" id="similar">
                    {{ similar() }}
                </div>
                <div class="tab-pane fade" id="content">
                    {{ content() }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
